/* Set up background and general styles */
body {
    background-image: url("/img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
}

h1 {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    background-color: hsl(0, 88%, 51%); /* red */
    color: white;
    padding: 20px 40px;
    border-radius: 10px;
    font-size: 24px;
    text-align: center;
    box-shadow: 0 12px 16px rgba(0,0,0,0.24), 0 17px 50px rgba(0,0,0,0.19);
}

/* Style for buttons */
#yes-button, #no-button {
    position: absolute;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0 12px 16px rgba(0,0,0,0.24), 0 17px 50px rgba(0,0,0,0.19);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

#yes-button {
    left: 45%;
    top: 50%;
    transform: translateX(-50%);
}

#no-button {
    left: 55%;
    top: 50%;
    transform: translateX(-50%);
}

#yes-button:hover, #no-button:hover {
    transform: scale(1.1);
}

/* Styling for love message */
#love-message {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    font-size: 36px;
    color: #ff1493; /* Deep pink color */
    font-weight: bold;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 12px 16px rgba(0,0,0,0.24), 0 17px 50px rgba(0,0,0,0.19);
    transition: opacity 1s ease-in-out;
}

/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 2s ease-in-out;
}

@keyframes bounceIn {
    0% {
        transform: translateY(-100px);
    }
    60% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(0);
    }
}

.bounce-in {
    animation: bounceIn 1s ease-out;
}
